/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
    --dark: #000;
    --medium: #121212;
    --light: #2e2e2e;
}

body.dark-mode p,
body.dark-mode h2,
body.dark-mode h3
 {
    color: #fff;
}

body.dark-mode .dark-button {
    color: #000;
}

/*-- -------------------------- -->
<---           NAVBAR           -->
<--- -------------------------- -*/

body.dark-mode {
    background: var(--dark);
}

body.dark-mode .navbar-menu {
    background: #222;	
	background: -o-linear-gradient(#222, #000);	
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));	
	background: linear-gradient(#222, #000);
}

body.dark-mode .side-nav a {
    color: #f5f3f3;
}

body.dark-mode a.active-menu {
    color: var(--primary);
}

.hamburger.is-active .hamburger-inner.dark-mode::after,
.hamburger.is-active .hamburger-inner.dark-mode::before {
    background: #fff;
}

#mobile-logo {
    visibility: visible;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

body.dark-mode #mobile-logo {
    visibility: hidden;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.dark-mode-logo {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

body.dark-mode .dark-mode-logo {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

body.dark-mode .mobile-wrapper {
    background: var(--medium);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    border-bottom: 4px solid var(--primary);
}

#dark-mode {
    background: transparent;
    position: absolute;
    border: none;
    width: 45px;
    height: 25px;
    top:30px;
    left: 30px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dark-toggle {
    position: absolute;
    width: 50px;
    height: 25px;
    z-index: 20;
    border-radius: 13px;
    background: #333;	
	background: -o-linear-gradient(#333, #000);	
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));	
	background: linear-gradient(#333, #000);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10001;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
}

.dark-toggle:after {
    content: url('/moon-white.svg');
    color: #2e2e2e;
    position: absolute;
    height: auto;
    top: 6px;
    right: 7px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    opacity: 1;
}

body.dark-mode .dark-toggle:after {
    visibility: hidden;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
}

.dark-toggle:before {
    content: url('/sun.svg');
    position: absolute;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}

body.dark-mode.dark-toggle:before {
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    visibility: visible;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    z-index: 2000;
    opacity: 1;
}

.dark-toggle:hover {
    cursor: pointer;
}

.dark-toggle span {
    height: 30px;
    width: 30px;
    left: -4px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    background: rgb(251, 251, 251);
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    position: absolute;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

body.dark-mode .dark-toggle {
    border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#73bf44), to(#457329));
	background: -o-linear-gradient(#73bf44, #457329);
	background: linear-gradient(#73bf44, #457329);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

body.dark-mode .dark-toggle span {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    position: absolute;
    left: 25px;
}

body.dark-mode .hamburger-inner, body.dark-mode .hamburger-inner::before, 
body.dark-mode .hamburger-inner::after {
    background: #fff;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

#hero {
    position: relative;
}

body.dark-mode #dark {
    background: var(--medium);
    opacity: .84;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

body.dark-mode .floating-box {
    background: var(--medium);
}

/*-- -------------------------- -->
<---          TRUST US          -->
<--- -------------------------- -*/

body.dark-mode #customer-service {
    background: var(--dark) !important;
}

body.dark-mode .estimate {
    background: var(--light);
}

body.dark-mode .estimate h2 {
    color: var(--primary);
}

body.dark-mode .content-back {
    height: 100.76%;
    width: s;
    position: absolute;
    top: -3px;
    background: rgb(46,46,46);
    background: -o-radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e2e2e",endColorstr="#000000",GradientType=1);
}

/*-- -------------------------- -->
<---           OFFER            -->
<--- -------------------------- -*/

.dark-svg {
    position: absolute;
    display: none !important;
}

body.dark-mode .dark-svg {
    display: block !important;
}

body.dark-mode .light-svg {
    opacity: 0;
}

/*-- -------------------------- -->
<---           WHY US           -->
<--- -------------------------- -*/

body.dark-mode #why-us {
    background: var(--dark);
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

body.dark-mode #frequently-asked-questions {
    background: var(--medium);
}

body.dark-mode .faq-group h4 {
    color: var(--primary);
}

.faq-group a {
    color: var(--primary);
}

body.dark-mode ul li {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #fff;
}

/*-- -------------------------- -->
<---          SPOTLIGHT         -->
<--- -------------------------- -*/

body.dark-mode #spotlight {
    background: var(--medium);
}

/*-- -------------------------- -->
<---        MEET THE TEM        -->
<--- -------------------------- -*/

body.dark-mode #meet-the-team {
    background: var(--medium) !important;
}

body.dark-mode .team-content {
    background: var(--light);
}

body.dark-mode .team-content p {
    color: #fff !important;
}

/*-- -------------------------- -->
<---          CONTACT           -->
<--- -------------------------- -*/


/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

body.dark-mode footer {
    background: var(--dark);
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    

}

/* Desktop */
@media screen and (min-width: 1025px) {

    .dark-toggle {
        background: var(--primary);
    }

    body.dark-mode .floating-box {
        border: none;
        -webkit-box-shadow: 0px 10px 15px -7px rgba(115,191,68,1);
box-shadow: 0px 10px 15px -7px rgba(115,191,68,1);
    }

    .dark-toggle span {
        background: #fff;
    }

    #dark-mode {
        left: unset;
        right: 100px;
        top: 150px;
        display: block;
        z-index: 1000;
    }

    body.dark-mode .navbar-menu {
        background: unset;
    }

    body.dark-mode .white-comb {
        display: none;
    }

    body.dark-mode .dark-comb {
        display: block;
        position: absolute;
        bottom: -2px;
        z-index: 5;
    }

    body.dark-mode .side-nav {
        background: #000;
    }

}